<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190247232384-hoan5b1tc1epoa2rkqgf2gu7kmo0cpc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190247232384-hoan5b1tc1epoa2rkqgf2gu7kmo0cpc9</string>
	<key>API_KEY</key>
	<string>AIzaSyBChm557qdUwqtUXm3UnryWgXNNR8p01Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>190247232384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.four</string>
	<key>PROJECT_ID</key>
	<string>ipsessions</string>
	<key>STORAGE_BUCKET</key>
	<string>ipsessions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190247232384:ios:13c23ac75361f2c4c05765</string>
</dict>
</plist>